
<h4>{{answer.newName}}'s Answer</h4>
<hr>
<h4>Answer: {{answer.newAnswer}}</h4><hr>

<!-- {{new-answer saveAnswer="saveAnswer" answer=answer}} -->
<button {{action 'delete' answer}}>Delete Answer</button>
