<h2>More information about {{helper.name}}'s question.</h2><br>


<div class="well">
  <p><span class="bold">Question:</span><br>{{helper.question}}</p>
</div>


<button {{action 'delete' helper}}>Delete</button>
