<h2>About Tech Helper</h2>

<p>Tech Helper  was created to explore the the large world of technology. This project allows us to imagine the possibilities of technology and colaborate with others to develop or better understand ideas.</p>  
