<div class= "container">
  <div id="header">
  <a href="/" id="logo">Tech Helper</a>
  <ul id="menu" class="socials visible-desktop">
    <li><a href="/"><span>Home</span></a></li>
    <li><a href="about"><span>About Us</span></a></li>
    <li><a href="/contact"><span>Contact</span></a></li>
    <li><a href="https://www.facebook.com/"><span>Facebook</span></a></li>
    <li><a href="https://twitter.com/?lang=en"><span>Twitter</span></a></li>
  </ul>
</div>

  <hr><br>  {{outlet}}
  <footer>
    <hr>
    {{#link-to 'index'}}Home{{/link-to}}
    <br>
    {{#link-to 'about'}}About{{/link-to}}
    <br>
    {{#link-to 'contact'}}Contact{{/link-to}}
  </footer>
</div>
